.titolo{
	font-size: 30px;
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
	color:rgb(133, 170, 94)
}

.collegamenti{
	background-color: rgb(133, 170, 94);

	font-family: Georgia, 'Times New Roman', Times, serif;
	text-overflow: ellipsis;
	text-align: center;
}


.sottotitoli{
	margin-top: -40px;
	font-size: 25px;
	text-overflow: initial;
	color: rgb(164, 195, 98);
	text-align: center;
}


.centro{
	text-align: center;
}

.paragrafo{
	color: black;
	text-align: center;
	font-family:Georgia, 'Times New Roman', Times, serif;
}

.titolipiccoli{
	color: rgb(133, 170, 94);
	font-size: medium;
	text-align: center;
	
}

.carousel-container {
	width: 100%;
	overflow: hidden;
  }
  
  .carousel-track {
	display: flex;
	transition: transform 0.5s ease-in-out;
  }
  
  .carousel-track img {
	width: 47%;
	min-width: 47%;
	object-fit: cover;
  }
  

  @keyframes scrollLinearLeftRight {
	0% {
	  transform: translateX(0);
	}
	100% {
	  transform: translateX(-100%);
	}
  }
  
  .carousel-track {
	animation: scrollLinearLeftRight 10s linear infinite;
	width: 50%;
  }
  
  .navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(255, 255, 255);
	padding: 10px 50px; /* Aggiungi padding per spaziatura interna */
  }
  
  .logo img {
	height: 90px;
	align-content: center;

  }
  
  .navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
  }
  
  .navbar li {
	margin-right: 15px;
  }
  
  .navbar a {
	color:rgb(133, 170, 94);
	text-decoration:dotted; /* Cambia il tipo di decorazione */
	padding: 10px;
  }
  
  .navbar a:hover {
	color: #ff0080; /* Cambia colore al passaggio del mouse */
  }

  /* Stile per le icone */
a {
	display: inline-block;
	float: inherit;
	margin: 0 10px; 
	transition: transform 0.3s ease; 
  }
  
 
  a:hover {
	transform: scale(1.2); 
  }
  

